<%- include('../includes/header.ejs') %>
<div class=pokemons>
    <img
            src="https://preview.redd.it/3tov2at7f8n31.png?width=960&crop=smart&auto=webp&s=e7d4731a611be14d760c4e1771e6e1271db04fbb"
            alt="logo"
    />
    <p>Шановний <%= user.name %> <%= user.surname %>!</p>
    <h1>Ваш Профіль Змінено! 🌈</h1>

</div>
<%- include('../includes/footer.ejs', {SITE}) %>
