
body {
    font-family: 'Ubuntu', Arial, sans-serif;
    /* line-height: 36px; */
    font-size: 16px;
    color: #848484;
    background-color: #DEE8C1;
    text-align: center;
}

a {
    text-decoration: none;
    color: #CD212A;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #CD212A;
    font-weight: bolder;
    font-family: 'Balsamiq Sans', cursive, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 25px;
}

h3 {
    font-size: 22px;
}

p {
    color: #008E46;
    font-size: 20px;
    font-style: italic;
    text-transform: capitalize;
}

ul,
li {
    display: block;
    margin: 0;
    padding: 0;
}

.pokemons {
    background: #DEE8C1;
    color: darkorange;
    /*border: 10px solid #2ecc71;*/
    height: 100%;
    width: 100%;
}

img {
    display: block;
    margin: 10px auto;
    width: 150px;
    height: 150px;
    border: none;
}

.pink {
    font-size: 21px;
    color: #EE7179;
    font-style: italic;
}

.green {
    color: #008C45;
    font-size: 23px;
}

.green:last-child {
    font-size: 21px;
}

.user_photo {
    display: block;
    /*margin: 10px auto;*/
    width: 35px;
    height: 35px;
    border: 1px solid #EE7179;
    border-radius: 50%;
}
