<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheets" href="style.css">
    <title>PIZZACHU</title>
</head>
<body class="header">
<h3 class="pokemons">
    <span class="green">P</span>
    <span class="pink">I</span>
    <span class="green">Z</span>
    <span class="green">Z</span>
    <span class="pink">A</span>
    <span class="pink">C</span>
    <span class="green">H</span>
    <span class="green">U </span> i cheese you!🍕<h3>

